@font-face {
    font-family: 'Oxanium-Medium';
    src: url('/fuentes/Oxanium-Medium.woff') format('woff');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium-Medium';
}

h1[id]{
    scroll-margin-top: 80px;
}
#Perfil{
    scroll-margin-top: 50px;
}

html,body{
    scroll-behavior: smooth;
    height: auto;
    color: #402140;
}

body::-webkit-scrollbar,.section__network::-webkit-scrollbar{
    width: 5px;
    height: auto;
    background-color: #5e2544;
    border-radius: 10px;
    overflow: hidden;
}

body::-webkit-scrollbar-thumb, .section__network::-webkit-scrollbar-thumb{
    background-image: conic-gradient(at center top, rgb(244, 114, 182), rgb(219, 39, 119));
    border-radius: 10px;
    overflow: hidden;
}

:root{
    --font_size: 20px;
    --font_size_title: 60px;
    --font_size_paragraph: 25px;
    --font_size_subtitle: 18px;
    --margin_box: 150px;
}

.container{
    padding: 10px;
    margin: 0 auto;
    width: 85%;
}

.god{
    display: block;
    height: auto;
}

/*HEADER*/
.hero{
    display: block;
    height: auto;
}

.nav__main{
    width: 100%;
    display: block;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6666316184676996) 100%);
    opacity: 0.9;
    z-index: 1;
}
.nav__section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.ul__nav{
    position: absolute;
    inset: 0;
    height: 100vh;
    padding: 80px 20px 5rem;
    bottom: 0;
    display: grid;
    text-align: center;
    list-style: none;
    transform: translate(-100%);
    font-weight: 900;
    background-color: rgba(65, 32, 65, 0.9);
}
.ul__nav--show{
    animation: fadein 0.6s;
    transform: translate(0);
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.nav__link_title{
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: white;
}
.nav__link{
    text-decoration: none;
    color: white;
}

.hero_image{
    width: 150px;
    height: auto;
}

.img_menu{
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 100;
}
.banner{
    padding-top: 50px;
}
.banner_img{
    width: 100%;
    height: 300px; /*500px en auto*/
    object-fit: cover;
}

.section__profile__image{
    width: 200px;
    height: 200px;
}

/*IMAGE LATERAL*/
.icon__top{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: -6px;
}

.lateral__image{
    width: 120px;
    height: 120px;
    border-radius: 15%;
    transition: all .3s;
}

.lateral__image:hover{
    transform: scale(1.08);
    margin-bottom: 5px;
}

/*---MODAL BUTTON---*/
.modal__button{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.modal__button label{
    padding: 10px 15px;
    background-color: #d64f96;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: url('../images/cursor/shura_link.gif'),auto;
    transition: all 300ms ease;
}
.modal__button label:hover{
    background-color: #ad3b78;
}

#btn-modal{
    display: none;
}

.modal-container{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(65, 32, 65, 0.9);
    z-index: 100;
}
#btn-modal:checked ~ .modal-container{
    display: flex;
}

.modal-content{
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}
.section__note{
    font-size: 15px;
    margin-bottom: 5px;
}
.section__note span{
    font-weight: 700;
}
.section__note_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.section__note_a{
    text-decoration: none;
    cursor: url('../images/cursor/shura_link.gif'),auto;
    border-radius: 50%;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
    transition: all 300ms;
    overflow: hidden;
}
.section__note_a img{
    width: 60px;
    height: 60px;
}
.section__note_a:hover{
    transform: scale(1.1);
}

.btn-cerrar{
    width: 100%;
    display: flex;
    height: 30px;
    justify-content: flex-end;
}
.btn-cerrar img{
    width: 30px;
    height: 30px;
    position: relative;
    top: -10px;
    right: -10px;
    cursor: url('../images/cursor/shura_link.gif'),auto;
}
.cerrar-modal{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/*MAIN*/
.main{
    display: block;
    padding-top: 10rem;
    overflow: hidden;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.article__title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.article__subtittle{
    font-size: 15px;
    font-weight: 100;
}

/*MODAL SCHEDULE*/
.popup_img{
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(65, 32, 65, 0.9);
    width: 100%;
    height: 100%;
}

.popup_img .schedule{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 95%;
    object-fit: cover;
}
.popup_img .cancel{
    position: absolute;
    top: 10%;
    right: 20px;
    z-index: 100;
    width: 20px;
    height: 20px;
    cursor: url('../images/cursor/shura_link.gif'),auto;
}
.cancel:hover{
    color: black;
}
/*----------------------------*/

.card_information{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
    justify-content: center;
    gap: 20px;
}

.card__information_div,.card__information_div_image{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    height: 150px;
    border: 0px solid transparent;
    border-radius: 10px;
    cursor: url('../images/cursor/shura_link.gif'),auto;
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 0, 0, 0.35), rgba(0,0,0, 0.35))
}
.card__title{
    color: white;
    text-align: center;

}

.card__information_div:nth-child(1){
    background-image: linear-gradient(rgb(0, 0, 0, 0.35), rgba(0,0,0, 0.35)),
    url('/images/debut_image.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__information_div_image:nth-child(2){
    background-image: linear-gradient(rgb(0, 0, 0, 0.35), rgba(0,0,0, 0.35)),
    url('/images/horario-semanal.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__information_div:nth-child(4){
    background-image: linear-gradient(rgb(0, 0, 0, 0.35), rgba(0,0,0, 0.35)),
    url('/images/banner.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*SECTION PROFILE*/

.section__profile__main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
    background-color: #402140;
    opacity: 1;
    background-image: linear-gradient(45deg, #d64f96 50%, #402140 50%);
    background-size: 100%;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article__profile{
    color: white;
    font-size: 28px;
    text-align: center;
}

.section__profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: auto; /*300PX es por defecto*/
    color: white;
    gap: 20px;
}

.article__paragraph{
    order: 2;
}
.article__profile__title{
    display: none;
}

.article__profile__paragraph{
    font-size: var(--font_size_subtitle);
    font-weight: 400;
    text-align: center;
}

.section__profile__image{
    order: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.profile__image{
    width: 260px;
    height: 260px;
    background-color: rgb(245, 192, 222);
    border-radius: 50%;
}

/*----------REDES SOCIALES------------*/

.section__network__main{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.network__title__container{
    margin-bottom: 20px;
}

.network__title{
    font-size: 28px;
}

.section__network{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    height: 420px;
    overflow-y: scroll;
    border: 3px solid #d64f96;
    border-radius: 10px;
}

.network__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: black;
}

.network__img{
    width: 100px;
    height: 100px;
    padding: 5px;
    transition: all 150ms;
    border-radius: 50%;
    max-width: 200px;
}
.network__img:hover{
    cursor: url('../images/cursor/shura_link.gif'),auto;
    transform: scale(1.09);
}

.network__subtitle{
    font-size: 18px;
}

/*-----------REFERENCES-----------------*/
.section__reference__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #402140;
    opacity: 1;
    background-image:  radial-gradient(#d64f96 1.55px, transparent 1.55px), radial-gradient(#d64f96 1.55px, #402140 1.55px);
    background-size: 62px 62px;
    background-position: 0 0,31px 31px;
    color: #d64f96;
}

.reference__title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.reference__title__paragraph{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.references__paragraph{
    display: flex;
    flex-direction: column;
}

.references__paragraph__p{
    display: flex;
    flex-direction: row;
    font-size: var(--font_size_subtitle);
    line-height: 1.7;
}

.references__parahraph__img{
    width: 20px;
    height: 20px;
}

.section__reference__image__png{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.section__reference__img{
    width: 200px;
    height: auto;
}


/*------------FOOTER-----------*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 200PX;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: black;
}

.footer__main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.footer__img__container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer__img__container a{
    width: 25px;
    height: 25px;
    fill: white;
}

.footer__img__container a:hover{
    transition: all 400ms;
    transform: rotate(360deg);
}

.footer__article{
    text-align: center;
    color: white;
}
.footer__p{
    font-size: 16px;
}

.footer__copyright{
    font-size: 12px;
}


/*-------------------------------------------MEDIA QUERY-----------------------------*/

/*-----@media 768px------*/
@media (min-width:768px){
    body{
        color: #402140;
    }
    h1[id]{
        scroll-margin-top: 80px;
    }
    #Perfil{
        scroll-margin-top: 100px;
    }
    .banner_img{
        height: 400px;
    }

    .img_menu{
        display: none;
    }

    .hero_image{    
        width: 150px;
        height: auto;
    }

    .ul__nav{
        position: static;
        background-color: none;
        height: auto;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
        transform: none;
        font-weight: 700;
        background-color: inherit;
    }

    .nav__link{
        position: relative;
        padding: 5px;
        border-bottom: 3px solid transparent;
        color: #402140;
        font-size: 18px;

    }

    .nav__link::after{
        content: "";
        position: absolute;
        background-color: #d64f96;
        bottom: -5px;
        height: 3px;
        width: 100%;
        left: 0;
        transition: 0.15s;
        transition-timing-function: ease-in-out;
        transform: scaleX(0);
    }
    
    .nav__link:hover::after{
        transform: scaleX(1);
    }

    .nav__link:hover{
        color: #d64f96;
    }
    
    .nav__link_title{
        display: none;
    }

    /*IMAGE LATERAL*/
    .icon__top{
        margin-right: 10px;
        margin-bottom: -6px;
    }

    .lateral__image{
        width: 150px;
        height: 150px;
    }

    /*---------------MAIN-------------------*/
    .title{
    }
    .article__title{
        font-size: 40px; /*PARA 469PX*/
        font-weight: 900;
        margin-bottom: 10px;
    }
    .article__subtittle{
        font-size: 18px;
        font-weight: 300;
    }

    /*MODAL SCHEDULE*/
    .popup_img .schedule{
        top: 55%;
        max-width: 800px;
        width: 95%;
    }
    .popup_img .cancel{
        top: 10%;
        right: 20px;
        width: 20px;
        height: 20px;
    }
    /*----------------------------*/
    
    .card_information{
        gap: 30px;
    }

    /*SECTION PROFILE*/

    .section__profile__main{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin-top: 10rem;
        width: 100%;
        background-size: contain;
        background-repeat: repeat;
        height: 300px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section__profile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 300px; /*300PX es por defecto*/
        color: white;
        gap: 20px;
    }

    .article__profile__title1{
        display: none
    }

    .article__profile__title{
        display: block;
        text-align: left;
        font-size: 35px;
        margin-bottom: 10px;
    }

    .article__paragraph{
        order: 1;
    }

    .article__profile__paragraph{
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }

    .section__profile__image{
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 280px;
    }
    .profile__image{
        width: auto;
        height: 400px;
        border-radius: 0;
        background-color: transparent;
        content: url('/images/img_extensible_shura.png');
    }

    /*----------REDES SOCIALES------------*/

    .section__network__main{
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .network__title__container{
        margin-bottom: 20px;
    }

    .network__title{
        font-size: 28px;
    }

    .section__network{
        gap: 30px;
        padding: 5px;
        height: auto;
        overflow-y: visible;
        border: none;
        border-radius: 0px;
    }

    .network__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-decoration: none;
        color: black;
    }

    .network__img{
        width: 110px;
        height: 110px;
    }
    .network__img:hover{
    }

    .network__subtitle{
        font-size: 18px;
    }
    
    /*-----------REFERENCES-----------------*/
    .section__reference__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .reference__title{
        text-align: center;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .reference__title__paragraph{
        flex-direction: row;
        gap: 1rem;
    }

    .references__paragraph__p{
        display: flex;
        flex-direction: row;
        font-size: var(--font_size_subtitle);
        margin-top: 0;
    }


    .references__parahraph__img{
        width: 20px;
        height: 20px;
    }

    .section__reference__image__png{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section__reference__img{
        width: 220px;
        height: auto;
    }
}

/*--------------------------@media 1024px-----------------------------------------*/
@media (min-width:1024px){
    h1[id]{
        scroll-margin-top: 90px;
    }
    #Perfil{
        scroll-margin-top: 130px;
    }

    .banner{
        padding-top: 60px;
    }

    .banner_img{
        height: 450px;
    }

    .hero_image{    
        width: auto;
        height: 40px;
    }
    .nav__main{
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    }

    .ul__nav{
    }

    .nav__link{
        font-size: 20px;
    }

    .nav__link:hover{
    }
    .nav__link_title{
    }
    .note{
        margin-top: 20px;
        width: 70%;
    }
    .section__note{
        font-size: 14px;
    }

    /*IMAGE LATERAL*/
    .icon__top{
        margin-right: 15px;
        margin-bottom: -6px;
    }

    .lateral__image{
        width: 175px;
        height: 175px;
    }


    /*---------------MAIN-------------------*/

    .section__information{
    
    }
    
    .article__title{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .article__subtittle{
        font-size: 18px;
        font-weight: 100;
    }

    /*MODAL SCHEDULE*/
    .popup_img .schedule{
        top: 55%;
        max-width: 800px;
        width: 95%;
    }
    .popup_img .cancel{
        top: 12%;
        right: 20px;
        width: 20px;
        height: 20px;
    }
    /*----------------------------*/

    .card_information{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .card__information_div{

    }

    .card__information_div:nth-child(1){

    }

    .card__information_div:nth-child(2){
    }

    .card__information_div:nth-child(3){

    }

    /*SECTION PROFILE*/

    .section__profile__main{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin-top: 10rem;
        width: 100%;
        background-size: contain;
        background-repeat: repeat;
        height: 350px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section__profile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height: 300px; /*300PX es por defecto*/
        color: white;
        gap: 20px;
    }

    .article__profile__title1{
        display: none
    }

    .article__profile__title{
        font-size: 50px;
    }

    .article__profile__paragraph{
        font-size: 20px;
    }

    .section__profile__image{
        order: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .profile__image{
        height: 500px;
    }

    /*----------REDES SOCIALES------------*/

    .section__network__main{
        display: flex;
        flex-direction: column;
        margin-top: 10rem;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .network__title__container{
        margin-bottom: 20px;
    }

    .network__title{
        font-size: 50px;
    }

    .section__network{
        gap: 40px;
        padding: 5px;
        height: auto;
        overflow-y: visible;
        border: none;
        border-radius: 0px;
    }

    .network__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-decoration: none;
        color: black;
    }

    .network__img{
        width: 110px;
        height: 110px;
    }
    .network__img:hover{
    }

    .network__subtitle{
        font-size: 20px;
    }

    /*-----------REFERENCES-----------------*/
    .section__reference__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .reference__title{
        text-align: center;
        margin-bottom: 20px;
        font-size: 50px;
    }

    .reference__title__paragraph{
    }

    .references__paragraph__p{
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }


    .references__parahraph__img{
        width: 20px;
        height: 20px;
    }

    .section__reference__image__png{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section__reference__img{
        width: 300px;
        height: auto;
    }
}

/*-----@media 1440px------*/
@media (min-width:1440px){
    #Información{
        scroll-margin-top: 120px;
    }
    #Perfil{
        scroll-margin-top: 140px;
    }

    .banner{
        padding-top: 70px;
    }
    .banner_img{
        height: auto;
    }

    .hero_image{    
        height: 45px;
    }
    .nav__main{
        height: 70px;
    }

    .ul__nav{
    }

    .nav__link{
        font-size: 20px;
    }
    .note{
        margin-top: 30px;
    }
    .section__note{
        font-size: 15px;
    }

    /*IMAGE LATERAL*/
    .icon__top{
        margin-right: 20px;
        margin-bottom: -6px;
    }

    .lateral__image{
        width: 200px;
        height: 200px;
    }

    /*---------------MAIN-------------------*/

    .section__information{
    }
    
    .article__title{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .article__subtittle{
        font-size: 18px;
        font-weight: 100;
    }

    /*MODAL SCHEDULE*/
    .popup_img .schedule{
        top: 55%;
        max-width: 950px;
        width: 95%;
    }
    .popup_img .cancel{
        top: 12%;
        right: 20px;
        width: 24px;
        height: 24px;
    }
    /*----------------------------*/

    .card_information{
        height: auto;
        gap: 40px;
    }

    .card__information_div,.card__information_div_image{
        width: 100%;
        max-width: 600px;
        height: 200px;
    }

    /*SECTION PROFILE*/

    .section__profile__main{
        height: 500px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section__profile{
        justify-content: space-around;
        height: 400px; /*300PX es por defecto*/
        color: white;
        gap: 5rem;
    }

    .article__profile__title1{
        display: none
    }

    .article__profile__title{
        font-size: 55px;
    }

    .article__profile__paragraph{
        font-size: 24px;
    }
    
    .profile__image{
        height: 650px;
    }

    /*----------REDES SOCIALES------------*/

    .section__network__main{
    }

    .network__title__container{
        margin-bottom: 20px;
    }

    .network__title{
        font-size: 50px;
        margin-bottom: 20px;
        cursor: default;
    }

    .section__network{
        gap: 45px;
        max-width: 900px;
        width: 100%;
        padding: 5px;
        height: auto;
        overflow-y: visible;
        border: none;
        border-radius: 0px;
    }

    .network__links{
        color: #000000;
    }

    .network__img{
        width: 110px;
        height: 110px;

    }
    .network__img:hover{
    }

    .network__subtitle{
        line-height: 2;
        font-size: 22px;
    }
    .network__links:hover{
        color: #d64f96;
    }

    /*-----------REFERENCES-----------------*/
    .section__reference__main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin-top: 5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .reference__title{
        text-align: center;
        margin-bottom: 30px;
        font-size: 50px;
    }

    .reference__title__paragraph{
        width: 80%;
    }

    .references__paragraph__p{
        font-size: 20px;
        line-height: 2;
    }


    .references__parahraph__img{
        width: 28px;
        height: 28px;
    }

    .section__reference__image__png{
    }

    .section__reference__img{
        width: 350px;
        height: auto;
    }

}


/*-----KEYFRAMES--------*/
@keyframes slide-top{
    0%{transform:translateY(-100px)}
    100%{transform:translateY(0px)}
}

@keyframes slide-bottom{
    0%{transform:translateY(100px)}
    100%{transform:translateY(0px)}
}

@keyframes slide-right{
    0%{transform:translateX(-150px)}
    100%{transform:translateX(0px)}
}

@keyframes slide-left{
    0%{transform:translateX(150px)}
    100%{transform:translateX(0px)}
}